section {
    margin: 0 0 0 0;
    padding-top: 5%;
}

table {
    background: whitesmoke;
    width: 100%;
    line-height: 2em;
    box-shadow: 2px 3px darkgrey;
}

table, th, td {
    border: 5px solid black;
    border-collapse: collapse;
    margin: auto;
}

tr:not(:first-child):hover {
    color: white;
    cursor: pointer;
    background-color: steelblue;
}